/*<img src="https://images.pexels.com/photos/1055408/pexels-photo-1055408.jpeg?cs=srgb&dl=daylight-environment-garden-1055408.jpg&fm=jpg">
*/
<style>
h1 {
	color: white;
}
p {
	color: white;
}
body {
	background-image: url(daylight.jpg);
}
</style>